* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #1e90ff;
    --grey: #2d2d2d;
  }

 body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3886;
}  

.greeting{
    width: 20%;
}

/* THE PAGE WRAPPER MIMICS THE BODY, ONLY WE ARE ABLE TO DO MORE WITH IT IF NECESSARY */
 .page-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.data-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.location{
    margin-top: 5px;
    margin-right: 1em;
    
    width: 32%;
  
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    height: 40px;
    width: 70px;
    border-radius: 100%;
    background-color: #2d2d2d;
}
.add-button{
    width: 30px;

}

.location-icon{
    width: 30px;
    margin-bottom: 6px;
    margin-left: 4em;
}

.dashboard{
    min-height: 96vh;
    background-color: #0f0e12;
    width: 96%;
    border-radius: 40px;
}
#nav-bar{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    /* background-color: rgb(182, 182, 182); */
   
}

#fade-greeting{
    opacity:50%;
}

.form-group{
    width: 100%;
} 

.form{
    width: 50%;
    border-radius: 100px;
    background-color: #2d2d2d;
    border: none;
}

input{
    text-indent: 40px;
    height: 40px ;
    border-radius: 100px;
   
}
input:focus, input:active {
    outline: none;
    background-color: #2d2d2d;
    color:white;
}
input:active{
    border-radius: 100px;
    background-color: #2d2d2d;
    color:white;
    outline: none;
    box-shadow: none;
}
.form-group img{
    width: 30px;
    position:absolute;
    top:40px;
    left: 28em;
} 
.avatar img{
    width: 40px;
}
.full-width{
    /* background-color: rgb(162, 0, 255); */
    width: 100em;
    height: 100%;
}
.data-section{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black); 
    height: 50em;
}
#data-area{
    /* background-color: greenyellow; */
    margin-top: 1em;
    height: 100%;
}
.forecast{
    height: 2em;
    margin-left:3em;
    padding-top: 0.5em;
    color: white;

}
.weather{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: beige;
    height: 30%;
    width: 100%;
}
.todays-card{
    width: 14em;
    height: 100%;
    border-radius: 40px;
    background-color: aqua;
}

.weather-card{
    height: 100%;
    width: 10em;
    border-radius: 40px;
    background-color: #2d3886;
}
.map{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    height: 62%;
}
#data-area{
    width: 75%;
}
.side-data{
    background-color: blueviolet; 
    width: 25%;
    height: 100%;
}

.top-section{
    background-color: crimson;
    height: 35%;
    width: 100%;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: olivedrab;
    height: 98%;
    width: 100%;
}

.saved-weather{
    background-color: cadetblue;
    border-radius: 30px;
    width: 100%;
    height: 27%;
}

/* COLUMNS WILL, BY DEFAULT, SHARE SPACE EQUALLY HORIZONTALLY WITHIN THE ROW WITH
   THEIR SIBLINGS. CONTENT PUT INSIDE THEM WILL STACK VERTICALLY. */

.map-title{
   height: 2em;
   margin-left:3em;
   color: white;
}

#map {
    height: 90%;
    width: 100%;
    /* flex-grow: 1; */
    background-color: brown;
    border-radius: 50px;
}



/* .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cards img{
width: 200px;
} 
   */
